html, body {
 
    margin: 0;
    position: absolute;
    background: #1A1A1D;
}

.container-tarifs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

.content-tarifs {
    width: 25%;
    height: 25%;
    word-break: break-all;
    margin: 50px;
    line-height: 30px;
}

.content-tarifs h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: white;
}

.content-tarifs h3 {
    color: #E32C52;
    font-size: 20px;
}

.content-tarifs p {
    color: white;
    font-size: 20px;
    line-height: normal;
}


.content-tarifs img {
    padding: 0px;
    border-radius: 10px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 856px) {
    .content-tarifs h3, .content-tarifs p {
        font-size: 15px;
    }

}

@media screen and (max-width: 713px) {
    .content-tarifs h3, .content-tarifs p {
        font-size: 15px;
    }

}

@media screen and (max-width: 500px) {
    .content-tarifs  {
        width: 30%;
        height: 30%;
    }

    .content-tarifs h2 {
        font-size: 50px;
        line-height: 45px;
    }

    .content-tarifs h3, .content-tarifs p {
        font-size: 20px;
    }

}

@media screen and (max-width: 400px) {
    .content-tarifs  {
        width: 70%;
        height: 70%;
    }

    .content-tarifs h3, .content-tarifs p {
        font-size: 50px;
        line-height: normal;
        margin: 0px;
    }

    #title1 {
        font-size: 100px;
    }

}


