body {
    min-width: 100%;
    margin: 0 !important; 
    padding: 0 !important;
    position: absolute;
    background: #1A1A1D;
}




.main-gallerie {
    margin: 0 !important; 
    padding: 0 !important;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
}


.navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#logo {
    height: 140px;
    border-radius: 100%;
}

ul { 
    list-style-type: none;
   display: flex;
   align-items: center;
}
  
a {
    text-decoration: none!important;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    font-size: 2vmin;
    margin: 30px;
}

.containericons {
    width: auto;
    align-items: center;
}


.btn {
    background-color: transparent;
    margin: 8px;
    border: none;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #E32C52;
    cursor: pointer;
    align-items: center;
    display: block;
}

.btn:hover {
    color: white;
}


.btnContainer {
    text-align: start;
    display: block;
    margin: 10px;
    width: auto;
}

.containergallerie {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0px;
}


.btnContainer button.active {
    color: white;
}

.img {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    justify-content: center;
    height: 100%;
}

.img img {
    width: 550px;
    height: 550px;
    padding: 0px;
    margin: 15px;
}

.container-title {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
}

#title1 {
    text-align: center;
    margin: 0px;
    text-decoration: underline;
    text-decoration-color: #DC1818;
    font-size: 80px;
    font-family: 'Jost', sans-serif;
    color: white;

}

.content-gallerie {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    justify-content: center;
}


@media screen and (max-width: 659px) {
    .img img {
        width: 450px;
        height: 450px;
    }

    .content-gallerie {
        justify-content: flex-start;
    }

    .btn {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .img {
        justify-content: left;
    }


}

@media screen and (max-width: 670px) {
    a {
        font-size: 20px;
    }

}

